USE [master]
GO
/****** Object:  Database [Covid_19_METADATA]    Script Date: 1/8/2023 6:19:53 PM ******/
CREATE DATABASE [Covid_19_METADATA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Covid_19_METADATA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.PSTUNG\MSSQL\DATA\Covid_19_METADATA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Covid_19_METADATA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.PSTUNG\MSSQL\DATA\Covid_19_METADATA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Covid_19_METADATA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Covid_19_METADATA]
GO
/****** Object:  Table [dbo].[COVID_DB]    Script Date: 1/8/2023 6:19:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COVID_DB](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenbang] [varchar](50) NULL,
	[ngaycapnhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DDS]    Script Date: 1/8/2023 6:19:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DDS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenbang] [nvarchar](50) NULL,
	[ngaycapnhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[COVID_DB] ON 

INSERT [dbo].[COVID_DB] ([id], [tenbang], [ngaycapnhat]) VALUES (1, N'Ontario_Cases_Report', CAST(N'2022-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[COVID_DB] ([id], [tenbang], [ngaycapnhat]) VALUES (2, N'Canada_Compiled_Case', CAST(N'2022-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[COVID_DB] ([id], [tenbang], [ngaycapnhat]) VALUES (3, N'Ontario_ongoing_outbreaks', CAST(N'2022-01-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[COVID_DB] OFF
GO
SET IDENTITY_INSERT [dbo].[DDS] ON 

INSERT [dbo].[DDS] ([id], [tenbang], [ngaycapnhat]) VALUES (1, N'DIM_AGE_GROUP', CAST(N'2022-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[DDS] ([id], [tenbang], [ngaycapnhat]) VALUES (2, N'DIM_CITY', CAST(N'2022-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[DDS] ([id], [tenbang], [ngaycapnhat]) VALUES (3, N'DIM_DATE', CAST(N'2022-01-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[DDS] OFF
GO
USE [master]
GO
