CREATE DATABASE [COVID19_DDS]
GO
USE [COVID19_DDS]
GO
/****** Object:  Table [dbo].[DIM_AGE_GROUP]    Script Date: 1/8/2023 2:47:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_AGE_GROUP](
	[AgeGroup_SK] [int] IDENTITY(1,1) NOT NULL,
	[AgeGroup] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AgeGroup_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_CASE_ACQUISITION]    Script Date: 1/8/2023 2:47:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_CASE_ACQUISITION](
	[ACQUISITION_SK] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ACQUISITION_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_DATE]    Script Date: 1/8/2023 2:47:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_DATE](
	[DATE_SK] [int] IDENTITY(1,1) NOT NULL,
	[DDay] [int] NULL,
	[Month_SK] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DATE_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_GENDER]    Script Date: 1/8/2023 2:47:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_GENDER](
	[Gender_SK] [int] IDENTITY(1,1) NOT NULL,
	[Gender] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Gender_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_MONTH]    Script Date: 1/8/2023 2:47:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_MONTH](
	[MONTH_SK] [int] IDENTITY(1,1) NOT NULL,
	[DMonth] [int] NULL,
	[Quater_SK] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MONTH_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_OUT_BREAK_GROUP]    Script Date: 1/8/2023 2:47:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_OUT_BREAK_GROUP](
	[OUT_BREAK_GROUP_SK] [int] IDENTITY(1,1) NOT NULL,
	[Out_break_Group] [nvarchar](50) NULL,
	[Created_Date] [date] NULL,
	[Updated_Date] [date] NULL,
	[Status] [int] NULL,
	[SOR] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OUT_BREAK_GROUP_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_QUATER]    Script Date: 1/8/2023 2:47:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_QUATER](
	[Quater_SK] [int] IDENTITY(1,1) NOT NULL,
	[Quater] [int] NULL,
	[Year_SK] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Quater_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_SEVERITY]    Script Date: 1/8/2023 2:47:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_SEVERITY](
	[SEVERITY_SK] [int] IDENTITY(1,1) NOT NULL,
	[Min_Case] [int] NULL,
	[Max_Case] [int] NULL,
	[Serious_level] [int] NULL,
	[MIN_CASE_DATE] [int] NULL,
	[MAX_CASE_DATE] [int] NULL,
	[MIN_CASE_YEAR] [int] NULL,
	[MAX_CASE_YEAR] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SEVERITY_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_YEAR]    Script Date: 1/8/2023 2:47:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_YEAR](
	[Year_SK] [int] IDENTITY(1,1) NOT NULL,
	[DYear] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Year_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DIM_AGE_GROUP] ON 

INSERT [dbo].[DIM_AGE_GROUP] ([AgeGroup_SK], [AgeGroup]) VALUES (1, N'<20')
INSERT [dbo].[DIM_AGE_GROUP] ([AgeGroup_SK], [AgeGroup]) VALUES (2, N'20-29')
INSERT [dbo].[DIM_AGE_GROUP] ([AgeGroup_SK], [AgeGroup]) VALUES (3, N'30-39')
SET IDENTITY_INSERT [dbo].[DIM_AGE_GROUP] OFF
GO
SET IDENTITY_INSERT [dbo].[DIM_CASE_ACQUISITION] ON 

INSERT [dbo].[DIM_CASE_ACQUISITION] ([ACQUISITION_SK], [NAME]) VALUES (1, N'CC')
INSERT [dbo].[DIM_CASE_ACQUISITION] ([ACQUISITION_SK], [NAME]) VALUES (2, N'MISSING INFORMATION')
INSERT [dbo].[DIM_CASE_ACQUISITION] ([ACQUISITION_SK], [NAME]) VALUES (3, N'NO KNOWN EPI LINK')
SET IDENTITY_INSERT [dbo].[DIM_CASE_ACQUISITION] OFF
GO
SET IDENTITY_INSERT [dbo].[DIM_DATE] ON 

INSERT [dbo].[DIM_DATE] ([DATE_SK], [DDay], [Month_SK]) VALUES (1, 1, 1)
INSERT [dbo].[DIM_DATE] ([DATE_SK], [DDay], [Month_SK]) VALUES (2, 2, 1)
INSERT [dbo].[DIM_DATE] ([DATE_SK], [DDay], [Month_SK]) VALUES (3, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[DIM_DATE] OFF
GO
SET IDENTITY_INSERT [dbo].[DIM_GENDER] ON 

INSERT [dbo].[DIM_GENDER] ([Gender_SK], [Gender]) VALUES (1, N'Male')
INSERT [dbo].[DIM_GENDER] ([Gender_SK], [Gender]) VALUES (2, N'Female')
INSERT [dbo].[DIM_GENDER] ([Gender_SK], [Gender]) VALUES (3, N'Not Reported')
SET IDENTITY_INSERT [dbo].[DIM_GENDER] OFF
GO
SET IDENTITY_INSERT [dbo].[DIM_MONTH] ON 

INSERT [dbo].[DIM_MONTH] ([MONTH_SK], [DMonth], [Quater_SK]) VALUES (1, 1, 1)
INSERT [dbo].[DIM_MONTH] ([MONTH_SK], [DMonth], [Quater_SK]) VALUES (2, 2, 1)
INSERT [dbo].[DIM_MONTH] ([MONTH_SK], [DMonth], [Quater_SK]) VALUES (3, 3, 1)
SET IDENTITY_INSERT [dbo].[DIM_MONTH] OFF
GO
SET IDENTITY_INSERT [dbo].[DIM_OUT_BREAK_GROUP] ON 

INSERT [dbo].[DIM_OUT_BREAK_GROUP] ([OUT_BREAK_GROUP_SK], [Out_break_Group], [Created_Date], [Updated_Date], [Status], [SOR]) VALUES (1, N'1 Congregate Care', CAST(N'2022-12-01' AS Date), CAST(N'2022-12-02' AS Date), 1, 3)
INSERT [dbo].[DIM_OUT_BREAK_GROUP] ([OUT_BREAK_GROUP_SK], [Out_break_Group], [Created_Date], [Updated_Date], [Status], [SOR]) VALUES (2, N'2 Congregate Living', CAST(N'2022-12-01' AS Date), CAST(N'2022-12-02' AS Date), 1, 3)
INSERT [dbo].[DIM_OUT_BREAK_GROUP] ([OUT_BREAK_GROUP_SK], [Out_break_Group], [Created_Date], [Updated_Date], [Status], [SOR]) VALUES (3, N'3 Education', CAST(N'2022-12-01' AS Date), CAST(N'2022-12-02' AS Date), 1, 3)
SET IDENTITY_INSERT [dbo].[DIM_OUT_BREAK_GROUP] OFF
GO
SET IDENTITY_INSERT [dbo].[DIM_QUATER] ON 

INSERT [dbo].[DIM_QUATER] ([Quater_SK], [Quater], [Year_SK]) VALUES (1, 1, 1)
INSERT [dbo].[DIM_QUATER] ([Quater_SK], [Quater], [Year_SK]) VALUES (2, 2, 1)
INSERT [dbo].[DIM_QUATER] ([Quater_SK], [Quater], [Year_SK]) VALUES (3, 3, 1)
SET IDENTITY_INSERT [dbo].[DIM_QUATER] OFF
GO
SET IDENTITY_INSERT [dbo].[DIM_SEVERITY] ON 

INSERT [dbo].[DIM_SEVERITY] ([SEVERITY_SK], [Min_Case], [Max_Case], [Serious_level], [MIN_CASE_DATE], [MAX_CASE_DATE], [MIN_CASE_YEAR], [MAX_CASE_YEAR]) VALUES (1, 0, 5, 1, 0, 500, 0, 50)
INSERT [dbo].[DIM_SEVERITY] ([SEVERITY_SK], [Min_Case], [Max_Case], [Serious_level], [MIN_CASE_DATE], [MAX_CASE_DATE], [MIN_CASE_YEAR], [MAX_CASE_YEAR]) VALUES (2, 6, 10, 2, 501, 1500, 51, 100)
INSERT [dbo].[DIM_SEVERITY] ([SEVERITY_SK], [Min_Case], [Max_Case], [Serious_level], [MIN_CASE_DATE], [MAX_CASE_DATE], [MIN_CASE_YEAR], [MAX_CASE_YEAR]) VALUES (3, 11, 20, 3, 1501, 3500, 101, 500)
SET IDENTITY_INSERT [dbo].[DIM_SEVERITY] OFF
GO
SET IDENTITY_INSERT [dbo].[DIM_YEAR] ON 

INSERT [dbo].[DIM_YEAR] ([Year_SK], [DYear]) VALUES (1, 2019)
INSERT [dbo].[DIM_YEAR] ([Year_SK], [DYear]) VALUES (2, 2020)
INSERT [dbo].[DIM_YEAR] ([Year_SK], [DYear]) VALUES (3, 2021)
SET IDENTITY_INSERT [dbo].[DIM_YEAR] OFF
GO
